@import 'tailwindcss';

@theme {
    --font-sans: 'Jost', 'Helvetica', 'Arial', 'Lucida', sans-serif;

    --font-heading: var(--font-sans);
    --font-body: var(--font-sans);
}

::selection {
  background: black; /* Color de fondo del texto seleccionado */
  color: white;      /* Color del texto seleccionado */
}

/* Para compatibilidad con Firefox */
::-moz-selection {
  background: black;
  color: white;
}

.input {
  @apply w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-black;
}
