---
import BaseLayout from '../layouts/BaseLayout.astro';
import AccountPanel from '../components/AccountPanel.vue';
import { get } from '../lib/api.js';

const res = await get('sistema', {
    qry: ['documentos_identidad'],
});

if (res.code == 0) {
    var { documentos_identidad } = res.data;
}
---

<BaseLayout title="Mi cuenta">
    <!-- <section class=" mx-auto px-16 py-16 bg-gray-50">
        <AccountPanel client:load />
    </section> -->
    <main class="w-full bg-gray-50 py-12 sm:py-16 lg:py-20">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-16">
            <AccountPanel
                client:load
                documentos_identidad={documentos_identidad}
            />
        </div>
    </main>
</BaseLayout>
