---
import BaseLayout from "../layouts/BaseLayout.astro";
import ConsultaPedidoForm from "../components/ConsultaPedidoForm.vue";
---

<BaseLayout title="Consulta de pedido">
    <section
        class="min-h-[80vh] flex items-center justify-center bg-gray-50 px-4"
    >
        <ConsultaPedidoForm client:load/>
    </section>
</BaseLayout>
