---
import BaseLayout from '../layouts/BaseLayout.astro';
import LibroReclamacionesForm from '../components/LibroReclamacionesForm.vue';
import { get } from '../lib/api.js';

const res = await get('sistema', {
    qry: ['documentos_identidad'],
});

if (res.code == 0) {
    var { documentos_identidad } = res.data;
}
---

<BaseLayout title="Libro de reclamaciones">
    <main class="max-w-4xl mx-auto px-6 py-12">
        <header class="text-center mb-6">
            <h1
                class="text-2xl text-center font-semibold mb-6 text-neutral-900 tracking-[0.15rem] sm:tracking-[0.25rem] md:tracking-[0.4rem]"
            >
                FORMULARIO DE LIBRO DE RECLAMACIONES
            </h1>

            <div class="w-24 h-[2px] bg-neutral-800 mx-auto mt-2 rounded-full">
            </div>
        </header>

        <p class="text-sm leading-relaxed mb-8 text-gray-700">
            Conforme a lo establecido por el Código de Protección y Defensa del
            Consumidor contamos con un Libro de Reclamaciones a su disposición
            para registrar una queja o un reclamo.
        </p>

        <LibroReclamacionesForm
            client:load
            documentos_identidad={documentos_identidad}
        />
    </main>
</BaseLayout>
