---
import ProductosCarrusel from './ProductosCarrusel.vue';
import { get, formatProductos } from '../lib/api.js';

const qry2 = {
    fltr: {
        activo: { op: 'Es', val: true },
        is_ecommerce: { op: 'Es', val: true },
        nombre: { op: 'Contiene', val: 'coca' },
    },
    cols: [
        'produccion_tipo',
        'categoria',
        'nombre',
        'unidad',
        'has_fv',
        'precio',
        'precio_anterior',
        'igv_afectacion',
        'fotos',
    ],
};
const res2 = await get('productos', { qry: qry2 });
const productos = formatProductos(res2.data);
---

<section class="py-16 bg-white">
    <div class="max-w-8xl mx-auto px-6">
        <div class="text-center mb-12">
            <h2
                class="text-3xl md:text-4xl font-heading font-bold text-gray-900"
            >
                Productos más vendidos
            </h2>
            <p class="mt-2 text-gray-600">
                Descubre lo que nuestros clientes más disfrutan
            </p>
        </div>

        <ProductosCarrusel productos={productos} client:load />
    </div>
</section>
