---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { title = 'Mi Tienda' } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <script src="https://www.google.com/recaptcha/api.js?hl=es" async defer
        ></script>
    </head>
    <body>
        <Header />

        <main>
            <slot />
            <!-- Aquí se inyecta el contenido de cada página -->
        </main>

        <Footer />
    </body>
</html>
