---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { title = 'Mi Tienda' } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- IZIPAY BEGIN -->
        <link
            rel="stylesheet"
            href="https://static.micuentaweb.pe/static/js/krypton-client/V4.0/ext/neon-reset.css"
        />
        <script
            src="https://static.micuentaweb.pe/static/js/krypton-client/V4.0/ext/neon.js"
        ></script>
        <!-- IZIPAY END -->

        <!-- RECAPTCHA BEGIN -->
        <script src="https://www.google.com/recaptcha/api.js?hl=es" async defer
        ></script>
        <!-- RECAPTCHA END -->
    </head>
    <body>
        <Header />

        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>
